{{ if .Site.Data.homepage.certifications.enable }}
<section id="certifications" class="section section--border-bottom rad-animation-group">
    <div class="container">
        <div class="row rad-fade-down">
            <div class="col-12">
                <h2>{{ .Site.Data.homepage.certifications.title }}</h2>
                <div class="row pt-2 pt-md-4">
                    {{ range .Site.Data.homepage.certifications.items }}
                    <div class="col-12 col-sm-6 mb-4 mb-sm-0">
                        <div class="education">
                            <div class="certification__date">{{ .year }}</div>
                            <div class="certification__title">
                                {{ .title }}
                            </div>
                            <div class="certification__institution">
                                <i class="fas fa-infinity"></i> {{ .institution }} | <a href="{{ .url }} " target="_blank"><i class="fas fa-external-link-alt"></i></a>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
