{{ if .Site.Data.homepage.outreach.enable }}
<section id="outreach" class="section section--border-bottom rad-animation-group">
    <div class="container">
        <div class="row rad-fade-down">
            <div class="col-12">
                <h2>{{ .Site.Data.homepage.outreach.title }}</h2>
                <div class="row pt-2 pt-md-4">
                    <div class="col-md-6">
                        {{ range .Site.Data.homepage.outreach.items }}
                        <div class="col-10 mb-1">
                            <div class="outreach">
                                <div class="certification__date">{{ .date }}</div>
                                <div class="certification__title">
                                    {{ .title }}
                                </div>
                                <div class="certification__institution">
                                    <i class="{{ .icon }}"></i> {{ .occasion }}
                                    {{ if .url }} | <a href="{{ .url }}" target="_blank"><i class="fas fa-external-link-alt"></i></a>{{ end }}
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                    <div class="col-12 col-md-6 text-right">
                        <img
                            class="lozad img-responsive img-clip-left-forward"
                            src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                            data-src="{{ .Site.Data.homepage.outreach.image }}"
                            data-srcset="{{ .Site.Data.homepage.outreach.image }} 1x, {{ .Site.Data.homepage.outreach.image }} 2x"
                            alt="Outreach Image"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
